[application]
name = Soulver

[configuration_files]
[mac:@CONFIG@,Library/Application Support]/Soulver
Library/Preferences/com.acqualia.soulver.plist
# Soulver 3
[mac:@CONFIG@,Library/Application Support]/Soulver 3
Library/Preferences/app.soulver.mac.plist
